<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
               
                <li class="sidebar-item">
                    <a class="sidebar-link " href="{% url 'home' %}">
                        <i class="mdi mdi-av-timer"></i>
                        <span class="hide-menu">Dashboard </span>
                    </a>
                   
                </li>

                <li class="sidebar-item">
                    <a href="{% url 'chats' %}" class="sidebar-link">
                        <i class="ti-comment"></i>
                        <span class="hide-menu">Live Chat </span>
                    </a>
                </li>

                
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-gradient"></i>
                        <span class="hide-menu"> Bulk Messages </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
        
                        <li class="sidebar-item">
                            <a href="{% url 'send_messages' %}" class="sidebar-link">
                                <i class="mdi mdi-calendar-range"></i>
                                <span class="hide-menu"> Send Messages </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'bwm' %}" class="sidebar-link">
                                <i class="ti-menu-alt"></i>
                                <span class="hide-menu"> View Messages </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'transactions' %}" class="sidebar-link">
                        <i class="ti-credit-card"></i>
                        <span class="hide-menu">Transactions </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'faqs' %}" class="sidebar-link">
                        <i class="ti-book"></i>
                        <span class="hide-menu">FAQs </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'profile' %}" class="sidebar-link">
                        <i class="ti-user"></i>
                        <span class="hide-menu">Profile </span>
                    </a>
                </li>
               
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'logout' %}" aria-expanded="false">
                        <i class="mdi mdi-directions"></i>
                        <span class="hide-menu">Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>