{% load static %}

<div class="fade-in-up">
    <li class="{% if message.sender_type == 'agent' %} odd {% endif %} chat-item">
        {% if message.sender_type == 'agent' %}
            <!-- <div class="chat-img">
                <img src="{% static 'assets/images/users/default_agent.jpg' %}" alt="agent">
            </div> -->
        {% else %}
            <!-- <h6 class="font-medium">{{ message.sender.name }}</h6> -->
            <div class="chat-img">
                <img src="{% static 'assets/images/users/user (1).png' %}" alt="client">
            </div>
        {% endif %}
        <div class="chat-content">
            {% if message.sender_type == 'agent' %}
            <h6 class="font-medium">{{ message.sender.first_name }}</h6> 
            {% else %}
            <h6 class="font-medium">{{ message.sender.name }}</h6> 
            {% endif %}
            <div class="box {% if message.sender_type == 'agent' %} bg-light-inverse {% else %} bg-light-info {% endif %}">
                {% if message.content %}
                    <p>{{ message.content }}</p>
                {% endif %}
                {% if message.image %}
                    <img src="{{ message.image.url }}" style="max-width: 300px;" alt="Image message" class="img-fluid rounded">
                {% endif %}
                {% if message.image_url %}
                    <img src="{{ message.image_url }}" style="max-width: 300px;" alt="Image message" class="img-fluid rounded">
                {% endif %}
            </div>
        </div>
        <div class="chat-time">{{ message.timestamp }}</div>
    </li>
</div>


    